.encriptador-1desktop
{
position:absolute;
background-color:#f3f5fc;
height:1024px;
width:1440px;
padding:0px;
}
.rectangle1
{
background-color:#ffffff;
height:944px;
width:400px;
filter:drop-shadow(0px 24px 32px rgba(0,0,0,0.07999999821186066));
border-radius:32px;
left:1000px;
top:40px;
position:absolute;
}
.ingreseeltextoaqui
{
color:#0a3871;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:240px;
top:168px;
width:577px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame3
{
height:67px;
width:680px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:885px;
left:240px;
}
.button
{
background-color:#0a3871;
height:67px;
width:328px;
border-radius:24px;
padding:24px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:relative;
border-style:hidden;
outline:none;
}
.button2
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
align-self:flex-start;
left:24px;
top:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:280px;
display:flex;
}
.button3
{
background-color:#d8dfe8;
height:67px;
width:328px;
align-self:flex-start;
left:352px;
top:0px;
position:absolute;
border-radius:24px;
padding:24px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
}
.button4
{
color:#0a3871;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
align-self:flex-start;
left:24px;
top:24px;
position:absolute;
width:280px;
height:19px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.frame1
{
height:18px;
width:229px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:absolute;
top:851px;
left:240px;
}
.bi:exclamation-circle-fill
{
background-color:#65747d;
height:16px;
width:16px;
align-self:flex-start;
top:1px;
left:0px;
position:absolute;
padding:0px;
}
.group
{
width:16px;
height:16px;
}
.vector
{
background-color:#495057;
height:16px;
width:16px;
width:16px;
height:16px;
left:0px;
top:4.440892098500626e-16px;
position:absolute;
}
.sololetrasminúsculasysinacentos
{
color:#495057;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:24px;
top:0px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
width:205px;
display:flex;
}
.vector2
{
height:304.0307312011719px;
width:335.97650146484375px;
left:1032.06px;
top:283.17px;
position:absolute;
}
.frame5
{
height:122px;
width:336px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
left:1032px;
top:619px;
position:relative;
}
.ningúnmensajefueencontrado
{
color:#343a40;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:120.00000476837158px;
border-style:hidden;
outline:none;
width:336px;
}
.ingresaeltextoquedeseesencriptarodesencriptar.
{
color:#495057;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:150px;
border-style:hidden;
outline:none;
top:74px;
left:0px;
position:absolute;
width:336px;
}
.logo
{
height:48px;
width:120px;
padding:0px;
display:flex;
flex-direction:column;
gap:40px;
left:40px;
top:40px;
position:relative;
}
.logo2
{
height:48px;
width:120px;
padding:0px;
}
.vector3
{
background-color:#0a3871;
height:48px;
width:31.085588455200195px;
width:31.085588455200195px;
height:48px;
left:44px;
top:0px;
position:absolute;
}
